<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [5]:
# Creating an empty list
a = []

# Printing the value of a
print("Value of a:", a)

# Printing the type of a
print("Type of a:", type(a))

Value of a: []
Type of a: <class 'list'>

In [9]:
# print the value of a
a = []
print("Value of a:", a)

Value of a: []

In [12]:
# print the type of a
a =[]
print("type of a:",type(a))

type of a: <class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [14]:
my_list = (1,2,3,4,5) # create a list in python
print (my_list)

(1, 2, 3, 4, 5)

Print the number of elements in the list

In [16]:
my_list = [1, 2, 3, 4, 5]  # Create a list
print(len(my_list))  # Print the number of elements in the list

5

Using for loop iterate and print all the elements in the list

In [18]:
my_list = [1, 2, 3, 4, 5]

for item in my_list:
    print(item)

1
2
3
4
5

Select the second item, 'Python' and store it in a new variable named 'temp'

In [20]:
my_list = [1, 2, 3, 4, 5]

temp = my_list[1]  # Indexing starts at 0, so index 1 is the second item
print(temp)

2

Print the value of temp and type(temp)

In [22]:

my_list = [1, 2, 3, 4, 5]

temp = my_list[1]  # Second item
print(temp)        # Print the value
print(type(temp))  # Print the type of temp

2
<class 'int'>

Append the element 'Java' in the list

In [24]:

my_list = [1, 2, 3, 4, 5]

my_list.append("java")  # Append "java" to the list
print(my_list)

[1, 2, 3, 4, 5, 'java']

Remove the element 42 from the list and print the list

In [26]:

my_list = [1, 2, 3, 42, 4, 5, 'java']

my_list.remove(42)  # Remove the element 42
print(my_list)

[1, 2, 3, 4, 5, 'java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [28]:
colour = ["red", "blue", "white"]
print(colour)

['red', 'blue', 'white']

Append the element 'Black' to colors

In [30]:

colour = ["red", "blue", "white"]

colour.append("black")  # Append 'black' to the list
print(colour)

['red', 'blue', 'white', 'black']

Append the color 'Orange' to second position (index=1) and print the list

In [32]:

colour = ["red", "blue", "white", "black"]

colour.insert(1, "orange")  # Insert 'orange' at index 1
print(colour)

['red', 'orange', 'blue', 'white', 'black']

Print the list

In [34]:
colour =['red,orange,blue,white,black']
print(colour)

['red,orange,blue,white,black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [37]:
colour2 = ['grey,sky,blue']
print (colour2)

['grey,sky,blue']

Add the elements of colors2 to colors using extend function in the list

In [39]:
colour = ['red', 'orange', 'blue', 'white', 'black']
colour2 = ['grey', 'sky', 'blue']

colour.extend(colour2)  # Add elements of colour2 to colour
print(colour)

['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky', 'blue']

Print len of colors and its elements

In [41]:


colour = ['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky', 'blue']

# Print the length of the list
print("Length of colour list:", len(colour))

# Print all the elements in the list
print("Elements in the colour list:", colour)

Length of colour list: 8
Elements in the colour list: ['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky', 'blue']

Sort the list and print it.

In [43]:

colour = ['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky', 'blue']

colour.sort()  # Sort the list in ascending order
print("Sorted colour list:", colour)

Sorted colour list: ['black', 'blue', 'blue', 'grey', 'orange', 'red', 'sky', 'white']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [45]:
sent = "coronavirus caused lockdown around the world"
print(sent)

coronavirus caused lockdown around the world

Use split function to convert the string into a list of words and save it in variable words and print the same

In [1]:

sent = "coronavirus caused lockdown around the world"

words = sent.split()  # Split the string by spaces
print(words)

['coronavirus', 'caused', 'lockdown', 'around', 'the', 'world']

Check whether ‚Äòcountry‚Äô is in the list

In [3]:
sent = "coronavirus caused lockdown around the world"
words = sent.split()

if "country" in words:
    print("Yes, 'country' is in the list.")
else:
    print("No, 'country' is not in the list.")

No, 'country' is not in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [5]:

sent = "coronavirus caused lockdown around the world"
words = sent.split()

words.remove("the")  # Remove 'the' from the list
print(words)

['coronavirus', 'caused', 'lockdown', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [7]:
sent = "coronavirus caused lockdown around the world"
words_lower = sent.split()

first_four_words = words_lower[:4]  # Slicing: first 4 words
print(first_four_words)

['coronavirus', 'caused', 'lockdown', 'around']

Convert the list of elements to single string using join function and print it

In [9]:

first_four_words = ['coronavirus', 'caused', 'lockdown', 'around']

sentence = " ".join(first_four_words)  # Join list elements with a space
print(sentence)

coronavirus caused lockdown around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [10]:
stud_grades = {"A", "A", "B", "C", "C", "F"}
print(stud_grades)

{'F', 'A', 'C', 'B'}

Print the len of stud_grades

In [11]:


stud_grades = {"A", "A", "B", "C", "C", "F"}

print("Length of stud_grades:", len(stud_grades))

Length of stud_grades: 4

Create a new variable, stud_grades_set = set(stud_grades)

In [12]:
stud_grades = ["A", "A", "B", "C", "C", "F"]

stud_grades_set = set(stud_grades)  # Convert to set
print(stud_grades_set)

{'C', 'F', 'A', 'B'}

Print stud_grades_set.

In [13]:


stud_grades = ["A", "A", "B", "C", "C", "F"]
stud_grades_set = set(stud_grades)

print("Student Grades Set:", stud_grades_set)

Student Grades Set: {'C', 'F', 'A', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [14]:


# stud_grades is a list with duplicate values
stud_grades = ["A", "A", "B", "C", "C", "F"]

# stud_grades_set is a set with unique values
stud_grades_set = set(stud_grades)

# Print type and elements
print("Type of stud_grades:", type(stud_grades))
print("Elements of stud_grades:", stud_grades)

print("Type of stud_grades_set:", type(stud_grades_set))
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Type of stud_grades_set: <class 'set'>
Elements of stud_grades_set: {'C', 'F', 'A', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [15]:

stud_grades = ["A", "A", "B", "C", "C", "F"]
stud_grades_set = set(stud_grades)

stud_grades_set.add("G")  # Add new element
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'A', 'B', 'F', 'C', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [16]:


stud_grades = ["A", "A", "B", "C", "C", "F"]
stud_grades_set = set(stud_grades)

stud_grades_set.add("F")  # Try to add 'F' again
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'C', 'F', 'A', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [17]:

stud_grades = ["A", "A", "B", "C", "C", "F"]
stud_grades_set = set(stud_grades)

stud_grades_set.remove("F")  # Removes 'F' from the set
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'C', 'A', 'B'}

Print the elements and the length of stud_grades_set

In [18]:


stud_grades = ["A", "A", "B", "C", "C", "F"]
stud_grades_set = set(stud_grades)

# Remove 'F' for this example
stud_grades_set.remove("F")

# Print elements and length
print("Elements of stud_grades_set:", stud_grades_set)
print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set: {'C', 'A', 'B'}
Length of stud_grades_set: 3

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [19]:
colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

print("Colours Set:", colours)
print("Fruits Set:", fruits)

Colours Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Print color and fruits

In [20]:

colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

print("Colours Set:", colours)
print("Fruits Set:", fruits)

Colours Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Create colors_set, and fruits_set. (using set() ) and print them

In [21]:
# Creating the sets
colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

# Printing the sets
print("Colours Set:", colours)
print("Fruits Set:", fruits)

Colours Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [22]:

colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

# Method 1: Using union()
union_set = colours.union(fruits)

# Method 2: Using |
# union_set = colours | fruits

print("Union of colours and fruits:", union_set)

Union of colours and fruits: {'orange', 'blue', 'apples', 'grapes', 'red'}

Find the intersection of both the sets

In [23]:

colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

# Method 1: Using intersection()
intersection_set = colours.intersection(fruits)

# Method 2: Using &
# intersection_set = colours & fruits

print("Intersection of colours and fruits:", intersection_set)

Intersection of colours and fruits: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [24]:

colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

# Method 1: Using difference()
difference_set = fruits.difference(colours)

# Method 2: Using -
# difference_set = fruits - colours

print("Elements in fruits but not in colours:", difference_set)

Elements in fruits but not in colours: {'grapes', 'apples'}

In [25]:
colours = {"red", "blue", "orange"}
fruits = {"orange", "grapes", "apples"}

# Using difference() to find elements in fruits but not in colours
difference_set = fruits.difference(colours)

# Alternatively, using the - operator
# difference_set = fruits - colours

print("Elements in fruits but not in colours:", difference_set)

Elements in fruits but not in colours: {'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [26]:
temp = (17,"virat",50.0)
#printing the tuple
print("temp tuple:",temp)

temp tuple: (17, 'virat', 50.0)

Iterate through temp and print all the items in temp

In [27]:

temp1 = (17, "virat", 50.0)

# Iterating through temp1 and printing each item
for item in temp1:
    print(item)

17
virat
50.0

replace first element with 11 in temp

In [28]:
temp1 = (17, "virat", 50.0)

# Creating a new tuple with the first element replaced
temp1 = (17,) + temp1[1:]

# Printing the updated temp1 tuple
print("Updated temp1 tuple:", temp1)

Updated temp1 tuple: (17, 'virat', 50.0)

Set temp1 = tuple(temp)

In [29]:
temp = (17, "virat", 50.0)

# Creating a new tuple temp1 from temp
temp1 = tuple(temp)

# Printing temp1
print("temp1:", temp1)

temp1: (17, 'virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [30]:


temp1 = (17, "virat", 50.0)

# Iterating through temp1 and printing each item
for item in temp1:
    print(item)

17
virat
50.0

replace first element with 17 in temp1

In [31]:

temp1 = (17, "virat", 50.0)

# Creating a new tuple with the first element replaced
temp1 = (17,) + temp1[1:]

# Printing the updated temp1 tuple
print("Updated temp1 tuple:", temp1)

Updated temp1 tuple: (17, 'virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [32]:
city = ("banglore", 28.9949521, 72)

# Printing the tuple
print("City tuple:", city)

City tuple: ('banglore', 28.9949521, 72)

Print first element of city

In [33]:
city = ("banglore", 28.9949521, 72)

# Printing the first element
print("First element of city:", city[0])

First element of city: banglore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [34]:
city2 = ("chennai", 30.01, 74)

# Printing the tuple
print("City2 tuple:", city2)

City2 tuple: ('chennai', 30.01, 74)

Create cities which consist of city and city2

In [35]:
city = ("banglore", 28.9949521, 72)
city2 = ("chennai", 30.01, 74)

# Creating the cities tuple
cities = (city, city2)

# Printing the cities tuple
print("Cities tuple:", cities)

Cities tuple: (('banglore', 28.9949521, 72), ('chennai', 30.01, 74))

Print cities

In [36]:
city = ("banglore", 28.9949521, 72)
city2 = ("chennai", 30.01, 74)

# Creating the cities tuple
cities = (city, city2)

# Printing the cities tuple
print("Cities tuple:", cities)

Cities tuple: (('banglore', 28.9949521, 72), ('chennai', 30.01, 74))

Print type of first element in cities

In [37]:
city = ("banglore", 28.9949521, 72)
city2 = ("chennai", 30.01, 74)

# Creating the cities tuple
cities = (city, city2)

# Printing the type of the first element in cities
print("Type of first element in cities:", type(cities[0]))

Type of first element in cities: <class 'tuple'>

print the type of cities

In [38]:
city = ("banglore", 28.9949521, 72)
city2 = ("chennai", 30.01, 74)

# Creating the cities tuple
cities = (city, city2)

# Printing the type of the cities tuple
print("Type of cities:", type(cities))

Type of cities: <class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [39]:
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

# Printing the dictionary
print("Dictionary d:", d)

Dictionary d: {'actor': 'amir', 'cat': 'earth', '2 list': (23, 32, 12)}

Print the value of d[0]

In [40]:
print(d(0))

TypeError: 'dict' object is not callable

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [41]:

d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

# Storing the value of key "actor" in a new variable
actor = d["actor"]

# Printing the new variable
print("Value of actor:", actor)

Value of actor: amir

Print the type of actor

In [42]:
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

# Storing the value of key "actor" in a new variable
actor = d["actor"]

# Printing the type of actor
print("Type of actor:", type(actor))

Type of actor: <class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [43]:
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

# Store the value of the key "2 list" in a new variable
my_list = d["2 list"]

# Print the variable
print("Value of my_list:", my_list)

Value of my_list: (23, 32, 12)

Print the type of List.

In [44]:
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

# Store the value of the key "2 list" in a new variable
my_list = d["2 list"]

# Print the type of my_list
print("Type of my_list:", type(my_list))

Type of my_list: <class 'tuple'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [45]:
d1 = {
    "singer": "kr&na",
    "album": "still here",
    "genre": "hip hop"
}

# Print the dictionary
print("d1:", d1)

d1: {'singer': 'kr&na', 'album': 'still here', 'genre': 'hip hop'}

Merge d1 into d.

In [46]:
# Existing dictionaries
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12)
}

d1 = {
    "singer": "kr&na",
    "album": "still here",
    "genre": "hip hop"
}

# Merging d1 into d
d.update(d1)

# Print the updated dictionary d
print("Merged dictionary d:", d)

Merged dictionary d: {'actor': 'amir', 'cat': 'earth', '2 list': (23, 32, 12), 'singer': 'kr&na', 'album': 'still here', 'genre': 'hip hop'}

print d

In [47]:
# Assuming d1 is already merged into d
print("Dictionary d:", d)

Dictionary d: {'actor': 'amir', 'cat': 'earth', '2 list': (23, 32, 12), 'singer': 'kr&na', 'album': 'still here', 'genre': 'hip hop'}

Print all the keys in d

In [48]:
print("Keys in d:", d.keys())

Keys in d: dict_keys(['actor', 'cat', '2 list', 'singer', 'album', 'genre'])

Print all the values in d

In [49]:
print("Values in d:", d.values())

Values in d: dict_values(['amir', 'earth', (23, 32, 12), 'kr&na', 'still here', 'hip hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [50]:
d = {
    "actor": "amir",
    "cat": "earth",
    "2 list": (23, 32, 12),
    "singer": "kr&na",
    "album": "still here",
    "genre": "hip hop"
}

# Iterating over the dictionary and printing each key-value pair
for key, value in d.items():
    print(f"{key}.... {value}")

actor.... amir
cat.... earth
2 list.... (23, 32, 12)
singer.... kr&na
album.... still here
genre.... hip hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [51]:


# Input string
text = "hello world"

# Initialize an empty dictionary to store the counts
char_count = {}

# Iterate over each character in the string
for char in text:
    if char in char_count:
        # If the character is already in the dictionary, increment its count
        char_count[char] += 1
    else:
        # If the character is not in the dictionary, add it with count 1
        char_count[char] = 1

# Print the character count dictionary
print("Character count:", char_count)

Character count: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}